@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fc5296;
    background: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    background-repeat: no-repeat;
}
form{
    width:28rem;
    height:31rem;
    display:flex;
    flex-direction: column;
    background:rgba(255,255,255,0.08) ;
    box-shadow: 0 8px 32px 0 rgba(230, 13, 67, 0.7);
    border-radius:30px;
    border-left: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
}
form::before{
    content: '';
    position: absolute;
    bottom:3%;
    right:28%;
    width:140px;
    height:140px;
    background-color: #fe7bb0;
     background: linear-gradient(315deg, #fe7bb0 0%, #ff748b 74%);
    border-radius: 50%;
    z-index: -2;
    opacity: 0.8;
    
}
form::after{
    content: '';
    position: absolute;
    top:5%;
    left:30%;
    width:120px;
    height:120px;
    background-color: #ee8e6b;
    background: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);
    border-radius: 50%;
    z-index: -2;
    opacity: 0.8;
    
}
h1{
    font-size: 50px;
    text-align: center;
    text-shadow:2px 2px 4px rgba(0,0,0,0.4) ;
    color:white;
    letter-spacing: 2px;
    margin-bottom: 5%;
    opacity: 0.8;
}
label{
    font-size:20px;
    color:white;
    margin-left: 10%;
    opacity: 0.9;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
}
input{
    width:80%;
    margin : 5% auto;
    margin-bottom:8%;
    border:none;
    outline:none;
    background: transparent;
    color:white;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    opacity:0.8;
    font-size: large;
}
button{
    width:50%;
    margin:3% auto;
    color:white;
    font-size:15px;
    opacity:0.7;
    background:rgba(255,255,255,0.06);
    padding:10px 30px;
    border:none;
    outline:none;
    border-radius:20px;
    text-shadow:2px 2px 4px rgba(255,255,255,0.2);
    box-shadow:3px 3px 6px rgba(230, 13, 67, 0.7); 
    border-left:1px solid rgba(255,255,255,0.4);
    border-top:1px solid rgba(255,255,255,0.4) ;
}
a{
    font-size:12px;
    text-align:center;
    color:white;
    opacity: 0.8;
    cursor: pointer;
    padding-top: 2%;
}
.register {
    text-decoration: none;
    font-size:25px;
    padding-top: 4%;
    color: #dbd4e6;
    font-weight:bold;
    letter-spacing: 2px;
    text-shadow:2px 2px 4px rgba(0,0,0,0.4) ;
    margin-bottom: 5%;
    
}
.register a{
    text-decoration: none;
    font-size: large;
    padding-top: 4%;
}
@media(max-width:600px)
{
  form{
      flex-direction: column;
      width:100%;
      height:auto;
      margin-top:30px;
  }
  a{
      padding-bottom: 15px;
  }
}
  @media(max-width:1200px)
  {
  form::after{
    content: none;
  }
  form::before{
      content:none;
  }
 
 
}



